onnxruntime-gpu
rembg[gpu]
watchdog
asyncer
aiohttp
uvicorn
fastapi
python-multipart
filetype
gradio
nano
aiofiles  
Pillow    
requests
httpx
python-multipart
numpy
scipy
opencv-python
pillow_heif
pynvml
